<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.roncoo.eshop.mapper.InventoryMapper">
  <resultMap id="BaseResultMap" type="com.roncoo.eshop.mapper.model.Inventory">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="product_id" jdbcType="BIGINT" property="productId" />
    <result column="inventory_cnt" jdbcType="BIGINT" property="inventoryCnt" />
  </resultMap>
</mapper>